.list-group{
    img{
        cursor: pointer;
    }
}
.comments{
    p{
        margin-bottom: 0;
        padding-bottom: 0;
    }
}
/*  comment */
.comment{
    position: relative;
    width:100%;
  }
 .form-group{
display: flex;
flex-direction: column;
}

.form-group label{
font-size: 20px;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.form-group input,.form-group select,.form-group textarea{
padding: 7px;
border-radius: 4px;
border: 1px solid #333;
outline: none;
margin-top: 5px;
}
.user_name{
width: 55%;
}
.submit_btn{
  margin-top: 10px;
  padding: 6px;
  background-color:  #333;
  color:  #f4f6f7;
  border:none;
  border-radius: 2px;
  cursor: pointer;
  margin-bottom: 20px;
}
.fa-user-circle{
font-size: 40px;
margin-right: 10px;
}
.Reponse{
padding: 10px;
background:#ECF0F1;
box-shadow: 0 0 3px 3px rgba(179, 180, 182, 0.37);
backdrop-filter: blur( 1.5px );
-webkit-backdrop-filter: blur( 1.5px );
border-radius: 5px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
margin-bottom: 18px;
}
.request{
display: flex;  
}
.request .dp{
background-color:  #76D7C4;
display: flex;
justify-content: center;
align-items: center;
width: 53.33px;
text-align: center;
border-radius: 4px;
font-size: 26px;
margin-right: 20px;
color: antiquewhite;
height:53.33px;
}
.request_name{
font-weight: bold;
font-size: 18px;
font-family: 'Roboto';
color:  #273746;
}
.content{
font-size: 13px;
color:   #424949;
font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.request_detail .reply{
margin-top: 3px;
display: flex;
color: #BDC3C7;
font-size:13px;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.reply p{
color:   #909497 ;
font-weight: 800;
}
.reply span{
margin-left: 20px;
cursor: pointer;
color: #909497;
font-weight: 800;
}

.replyTo{
margin-left: 30px;
margin-top: 10px;
}



.flex{
display: none;

}
.flex.block{
display: block;
}
