<%- include('component/header.ejs') %>
<%- include('component/navbar.ejs') %>
 <div class="container">
    <ul class="list-group"></ul>
    <%- include('component/pagination.ejs') %>
 </div>
 <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity=
        "sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
        crossorigin="anonymous">
</script>
<script src="./js/pagination.js"></script>
<script src="./js/posts.js"></script>


<%- include('component/footer.ejs') %>